.cartWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.cartCardWrapper {
  margin: 10px 0;
}

.curencyDropdown {
  width: 150px;
}

.cartBody {
  overflow-y: auto;
  height: 72%;
  margin: 2% 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cartHeader {
  display: flex;
  align-items: center;
}

.cartHeader > button {
  right: left;
  cursor: pointer;
  border: 1px solid #000;
  border-radius: 50%;
  outline: none;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
  height: 25px;
}

.cartHeader > h3 {
  text-align: center;
  width: 100%;
}

.cartHeader > .cartCount {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cartHeader > .cartCount > span {
  font-size: 8px;
  font-weight: 800;
}

.priceUpdateError {
  font-size: 12px;
  padding: 5px 10px;
  color: red;
}

.emptyCart {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
