.cartWrapper {
  padding: 20px;
  display: flex;
  flex-direction: column;
  position: relative;
  height: 100%;
  box-sizing: border-box;
}

.cartCardWrapper {
  margin: 10px 0;
}

.cartBody {
  overflow-y: auto;
  height: 72%;
  margin-bottom: 2%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.cartHeader {
  display: flex;
  align-items: center;
}

.cartHeader > button {
  right: left;
  cursor: pointer;
}

.cartHeader > h3 {
  text-align: center;
  width: 100%;
}

.priceUpdateError {
  font-size: 12px;
  padding: 5px 10px;
  color: red;
}
