.primary,
.secondary {
  padding: 10px 30px;
  text-align: center;
  background-color: #4b5548;
  color: #ffffff;
  border: none;
  cursor: pointer;
  font-size: 12px;
  outline: none;
  margin: 0 auto;
}

.secondary {
  border: 1px solid #4b5548;
  background: transparent;
  color: #4b5548;
}

.primary:hover {
  opacity: 0.9;
  transition: opacity 0.3s ease-in-out;
}

button:disabled {
  cursor: not-allowed;
}
