.productCard {
  text-align: center;
  width: 55%;
  margin: 0 auto;
  height: 100%;
  display: grid;
  grid-template-rows: 120px 35px 40px 1fr;
  gap: 5px;
}

.productCard > img {
  height: 100px;
  width: 100%;
  object-fit: contain;
  object-position: center;
}

.productCard > p {
  margin: 0;
  text-overflow: ellipsis;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

@media only screen and (max-width: 768px) {
  .productCard {
    width: 60%;
  }
}
