hr {
  height: 1px;
  background: #4b5548;
  margin: 0;
  border: none;
}

.cartTotal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 12px;
  margin: 10px 0;
}

.btnMargin {
  margin: 10px 0;
}
